.all {
    margin:0;
    padding: 0;
}
.district {
    font-weight: normal;
    color: rgb(216, 7, 7)
}
.plot-container>div {
    box-shadow: 0 0 4px #cccccc;
    padding-bottom: 20px !important;
} 


.st-emotion-cache-12fmjuu {
    background-color: transparent !important;
    color: #d0bcbc;
}

.st-key-ai_chart_button  button{
    background-color: green !important;
    position: fixed;
    bottom: 80px;
    right: 50px;
}